<div style="text-align: center;">
    <h1>Welcome to Our Hospital</h1>
    <p>Thank you for choosing our hospital for your healthcare needs.</p>
    <p>Here, we strive to provide the highest quality medical care to our patients.</p>
    <p>Learn more about our services and specialties:</p>

  
        <style>
            table {
                border-collapse: collapse; /* Merge borders */
                width: 100%;
            }

            td {
                border: 1px solid black; /* Add border to table cells */
                padding: 8px; /* Add padding for better spacing */
            }
        </style> 
   
        <table>
            <tr>
                <td>Larry the Bird</td>
            </tr>
            <tr>
                <td>pediatrics</td>
            </tr>
            <tr>
                <td>surgery</td>
            </tr>
        </table>

    <p>if you have any questions or need assistance , please don't hesitate to contact us</p>
    </div>
